<%- include("partials/header.ejs") %>

    <h2>Browse Posts</h2>
    <% if (posts.length > 0) { %>
        <%= posts.forEach(element, index => {
            <h3>
                <%= element.pTitle %>
            </h3>
            <p>
                <%= element.pAuthor %>
                <%= element.pContent %>
            </p>
            <a href="/edit/<%= index %>" method="POST">Edit</a>
            <form action= "/delete/<%= index %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        }) %>
    <% } else { %>
        <p>No posts yet.</p>
    <%= } %>

    <%- include("partials/footer.ejs") %>
